.home-section *,
.home-section *:before,
.home-section *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    top: 0;
    scroll-behavior: smooth;
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

svg {
    display: block;
    overflow: visible;
}

.slider-container {
    position: relative;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: grab;
}

.slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
}

.slider-control.inactive:hover {
    cursor: auto;
}

.slider-control:not(.inactive) {
    opacity: 1;
}

.slider-control.left {
    left: 0;
}


/*
.slider-control svg{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  border-radius: 40px;
}

.slider-control.left svg {
  left: 5px;
}
.slider-control.right {
  right: 5px;
}

.slider-control.right svg {
  right: 0px;
}
*/

.slider-pagi {
    position: absolute;
    z-index: 3;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    list-style-type: none;
    transform: rotateZ(90deg);
}

.slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

.slider-pagi__elem.active {
    background: #fff;
}

.slider {
    z-index: 1;
    position: relative;
    height: 100%;
}

.slider.animating {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    will-change: transform;
}

.slider.animating .slide__bg {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    will-change: transform;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide.active .slide__overlay,
.slide.active .slide__text {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
}

.slide:nth-child(1) {
    left: 0;
}

.slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url("img/Team.jpg");
}

.slide:nth-child(1) .slide__overlay-path {
    fill: #33464b;
}

@media (max-width: 991px) {
    .slide:nth-child(1) .slide__text {
        background-color: #33464bcc;
    }
}

.slide:nth-child(2) {
    left: 100%;
}

.slide:nth-child(2) .slide__bg {
    left: -50%;
    background-image: url("./img/slider/painting.jpg");
}

.slide:nth-child(2) .slide__overlay-path {
    fill: #ED372F;
}

@media (max-width: 991px) {
    .slide:nth-child(2) .slide__text {
        background-color: #ED372Fcc;
    }
}

.slide:nth-child(3) {
    left: 200%;
}

.slide:nth-child(3) .slide__bg {
    left: -100%;
    background-image: url("./img/slider/cleaning.jpg");
}

.slide:nth-child(4) .slide__overlay-path {
    fill: #37AD5D;
}

@media (max-width: 991px) {
    .slide:nth-child(4) .slide__text {
        background-color: #37AD5Dcc;
    }
}

.slide:nth-child(4) {
    left: 300%;
}

.slide:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url("./img/slider/grass.jpg");
}

.slide:nth-child(3) .slide__overlay-path {
    fill: #3E84B5;
}

@media (max-width: 991px) {
    .slide:nth-child(3) .slide__text {
        background-color: #3E84B5cc;
    }
}

.slide:nth-child(5) {
    left: 400%;
}

.slide:nth-child(5) .slide__bg {
    left: -200%;
    background-image: url("./img/slider/sgomberi.jpg");
}

.slide:nth-child(5) .slide__overlay-path {
    fill: #C2A12C;
}

@media (max-width: 991px) {
    .slide:nth-child(5) .slide__text {
        background-color: #C2A12Ccc;
    }
}

.slide__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    -webkit-transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
    will-change: transform, opacity;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}

@media (max-width: 991px) {
    .slide__overlay {
        display: none;
    }
}

.slide__overlay path {
    opacity: 0.8;
}

.slide__text {
    position: absolute;
    width: 25%;
    bottom: 15%;
    left: 12%;
    color: #fff;
    -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
    transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
    will-change: transform, opacity;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

@media (max-width: 991px) {
    .slide__text {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 170px;
        text-align: center;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        padding: 0 1rem;
    }
}

.slide__text-heading {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 5rem;
    margin-bottom: 2rem;
}

@media (max-width: 991px) {
    .slide__text-heading {
        line-height: 20rem;
        font-size: 3.5rem;
        margin-top: -50px;
        margin-bottom: 0;
        height: 130px;
    }
}

.slide__text-desc {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 991px) {
    .slide__text-desc {
        display: none;
    }
}

.slide__text-link {
    z-index: 5;
    text-transform: none;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2.5rem;
    transition: all 0.2s;
    text-decoration: underline;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

@media (max-width: 991px) {
    .slide__text-link {
        position: relative;
        margin-top: 10px;
    }
}

@media (max-width: 900px) {
    .slide:nth-child(3) .slide__bg {
        background-position-x: -100px;
    }
}

@media (max-width: 700px) {
    .slide:nth-child(3) .slide__bg {
        background-position-x: -250px;
    }
}

@media (max-width: 1000px) {
    .slide:nth-child(5) .slide__bg {
        background-position-x: -250px;
        background-position-y: 100px;
        background-size: 180%;
    }
}

@media (max-width: 850px) {
    .slide:nth-child(5) .slide__bg {
        background-position-x: -250px;
        background-position-y: 100px;
        background-size: 200%;
    }
}

@media (max-width: 750px) {
    .slide:nth-child(5) .slide__bg {
        background-position-x: -320px;
        background-position-y: 100px;
        background-size: auto;
    }
}


/*
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0%;
  background: #33464b;
  transition: all 0.15s;
}
.slide__text-link:hover:before {
  height: 100%;
 top: 0;

}
*/

.slide__text-link:hover {
    transform: scale(1.03);
}