body {
    background: whitesmoke;
  }

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #b4b4b4;
  }
  ::-webkit-scrollbar-track {
    background:  #fff;
  }

.navbar{
    z-index: 5;
    position: fixed;
    top: 30px;
    left: 7.5vw;
    height: 50px;
    width: 85vw;
    border: 2px solid #8ea8c1;
    border-left: none;
    margin: 0;
    background-color: white;

}

#nav-left{
    position: absolute;
    left: 0;
    height: 100%;
    text-align: center;
}

#nav-left img{
    position: absolute;
    height: 160%;
    top: -30%;
    left: -30%;
    border: 2px solid #8ea8c1;
}


 .navbar img{  
    position: absolute;
    user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    height: 150%;
    top: -25%;
    transition: all 0.3s;
    background-color: #fff;
}

#nav-right{
    position: absolute;
    right:0;
    height: 100%;
    text-align: center;

}

.navbar p{
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

#nav-right .extended{
  display: inline-flex;
  align-items: center;
    cursor: pointer;

    margin-left: 0px;
    margin-right: 0px;
    padding: 0 10px;
    
}

#nav-right span{
    height: 100%;
    font-size: 18px;
}

#nav-right .normal{

    border: 2px solid transparent;
    border-left: none;
    border-right: none;

}

#nav-right .normal:hover{
    border-color: #33464b;
    
}
.prenota{
    text-transform: uppercase;
    background-color: #33464b;
    color: white;
    transition: all 0.15s;
    border: 2px solid #33464b;
}
.prenota:hover{
    background:#8ea8c1;
    border: 2px solid  #8ea8c1;
}




#telephoneNav{
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 6;
    text-align: center;
    border-bottom: 2px solid #8ea8c1;
}

#telephoneNav button{
    position: absolute;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

}

#telephoneNav h1{
    position: absolute;
    left: 45px;
    margin: 0;
    padding: 0;
    top: 0;
    display: inline-flex;
    align-items: center;
    height: 100%;
    font-size: 19px;
    color: #33464b;
}


#telephoneNav span{
    display: inline-flex;
    align-items: center;
    height: 100%;
    font-size: 18px;
    padding: 0px 5px;
    border: 0px;
    margin: 0;
}

#telephoneNav img{
    height: 100%;
    border-left: 2px solid #8ea8c1;
    right: 0;
    position: absolute;
}

#telephoneNav svg{
    padding: 0 10px;
}

#telephoneNav{
    visibility: hidden;
}

@media (max-width: 900px) {
    #nav-right span{
        font-size: 2.15vw;
    }

    .navbar{
        left: 3vw;
        width: 94vw;
    }
}

@media (max-width: 770px) {
    .scheda h1{
        display: none;
    }
    
    #telephoneNav{
        visibility: visible;
    }

    #computerNav{
        visibility: hidden;
    }

}

@media (max-width:340px) {
    #telephoneNav h1{
        font-size: 5vw;
    }

}

#telephoneMenu{
    position: fixed;
    top: -100%;
    height: 100%;
    background: #fff;
    z-index: 5;
    width: 100%;
    text-align: center;
    transition: all 0.3s;
}

#telephoneMenu p{
    font-size: 28px;
    color: #33464b;
}

.centered{
    position: absolute;
    left: 50%;
    top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#telephoneMenu h1{
    position: absolute;
    margin: 0;
    padding: 10px;
    bottom: 20px;
    left: 50%;
    -ms-transform: translateX(-50%);
  transform: translateX(-50%);
    display: inline-flex;
    align-items: center;
    height: 50px;
    font-size: 19px;
    color: #fff;
    background-color: #33464b;
    text-transform: uppercase;
    border-radius: 15px;
    transition: all 0.2s;
    cursor: pointer;
}

#telephoneMenu h1:hover{
    background-color: #8ea8c1;
}

#svgClose{
    display: none;
}


#svgMen{
    display: inline;
}

.home-section:nth-last-of-type(1) {
    top: 100%;
}

.home-section{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    text-align: center;
    color: #33464b;
    margin: 0;
    padding: 0;
}



.form * {
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  #contatta{
    width: 90%;
    max-width: 700px;
}
  
  .form {
    margin: 0 auto;
    position: relative;
  }

  #contact {
    
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact *{
    color: #33464b;
  }

  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }

  #contact select{
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 6.5px;
  }

  #servizio{
    color: #888;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact select:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.15s ease-in-out;
    -moz-transition: border-color 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    text-align: center;
    width: 100%;
    border: none;
    background: #33464b;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: #8ea8c1;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }

  
  #contact input:focus,
  #contact select:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #8ea8c1;
  }

  #contact textarea{
      font-family: Helvetica, Arial, sans-serif;
  }

  #servizio option:hover{
    background-color: white!important;
    outline: none;
  }




  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }