body {
    background: whitesmoke;
}

#logo {
    border: 2px solid #8ea8c1;
}

 ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

 ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

 ::-webkit-scrollbar-thumb {
    background: #b4b4b4;
}

 ::-webkit-scrollbar-track {
    background: #fff;
}

.home-section {
    width: 100%;
    height: 100%;
    z-index: 4;
    text-align: center;
    color: #33464b;
}

.navbar {
    z-index: 5;
    position: fixed;
    top: 30px;
    left: 7.5vw;
    height: 50px;
    width: 85vw;
    border: 2px solid #8ea8c1;
    border-left: none;
    border-right: none;
    margin: 0;
    background-color: white;
}

#nav-left {
    position: absolute;
    left: 0;
    height: 100%;
    text-align: center;
}

#nav-left img {
    position: absolute;
    height: 180%;
    top: -40%;
    left: -40%;
}

.navbar img {
    position: absolute;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    height: 150%;
    top: -25%;
    transition: all 0.3s;
    background-color: #fff;
}

#nav-right {
    position: absolute;
    right: 0;
    height: 100%;
    text-align: center;
}

.navbar p {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

#nav-right .extended {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 10px;
}

#nav-right span {
    height: 100%;
    font-size: 18px;
}

#nav-right .normal {
    border: 2px solid transparent;
    border-left: none;
    border-right: none;
}

#nav-right .normal:hover {
    border-color: #33464b;
}

.prenota {
    text-transform: uppercase;
    background-color: #33464b;
    color: white;
    transition: all 0.15s;
    border: 2px solid #33464b;
}

.prenota:hover {
    background: #8ea8c1;
    border: 2px solid #8ea8c1;
}

#telephoneNav {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: white;
    z-index: 4;
    text-align: center;
}

#telephoneNav p {
    position: absolute;
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin: 0;
    left: 0;
}

#telephoneNav h1 {
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    height: 100%;
    font-size: 19px;
    color: #33464b;
}

#telephoneNav span {
    display: inline-flex;
    align-items: center;
    height: 100%;
    font-size: 18px;
    padding: 0px 5px;
    border: 0px;
    margin: 0;
}

#telephoneNav img {
    height: 100%;
    right: 0;
    position: absolute;
}

#menu {
    padding: 0 10px;
}

#telephoneNav {
    visibility: hidden;
}

@media (max-width: 900px) {
    #nav-right span {
        font-size: 2.15vw;
    }
    .navbar {
        left: 3vw;
        width: 94vw;
    }
}

@media (max-width: 650px) {
    #telephoneNav {
        visibility: visible;
    }
    #computerNav {
        visibility: hidden;
    }
}

@media (max-width: 350px) {
    #telephoneNav h1 {
        font-size: 5vw;
    }
}


/*FOOTER*/

.loghi {
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

#footer {
    position: relative;
    height: 240px;
    /* era 350*/
    width: 100%;
    border-top: 2px solid #8ea8c1;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#logoFooter {
    position: relative;
    width: 220px;
    top: 15px;
}

#insta {
    width: 40px;
    height: 40px;
    margin: 10px;
}

#face {
    width: 40px;
    height: 40px;
    margin: 10px;
}

#footer h1 {
    font-size: 18px;
    padding-bottom: 5px;
    color: #33464b;
    /* padding-left: 10px;*/
}

#footer h2 {
    font-size: 16px;
    text-align: center;
    /* padding-left: 10px;*/
}

#footer p {
    font-size: 16px;
    padding-top: 2px;
    line-height: 23px;
}

#footer a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

#footer #container {
    position: absolute;
    height: 260px;
    width: 70%;
    top: 25px;
    /*left: 24%;*/
    left: 15%;
}

#footer #col1 {
    position: absolute;
    width: 33.3%;
    height: 100%;
    top: 0px;
}

#footer #col2 {
    position: absolute;
    width: 33.3%;
    height: 100%;
    left: 33.3%;
    top: 0px;
}

#footer #col3 {
    position: absolute;
    width: 33.3%;
    height: 100%;
    left: 66.6%;
    top: 0px;
}

#webDesigner {
    position: relative;
    /*top: 20px;
}

#webDesigner h1 {
    padding-bottom: 5px;
}

#webDesigner p {
    /*text-align: center;*/
}

.box {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.frame {
    height: 40px;
    /* equals max image height */
    width: 100%;
    white-space: nowrap;
    text-align: middle;
    margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding-top: 20px;
    padding-left: 5px;
    font-size: 16px;
}

@media (max-width: 1300px) {
    #footer #container {
        width: 90%;
        left: 5%;
    }
}

@media (max-width: 900px) {
    #footer #container {
        width: 100%;
        left: 0%;
    }
}

@media (max-width: 800px) {
    #footer #container {
        height: auto;
        top: 0px;
    }
    #footer {
        border-top: 0px
    }
    #footer #col1 {
        position: relative;
        width: 100%;
        padding-top: 20px;
        left: 0%;
        -webkit-box-shadow: 0px -7px 12px 0px rgba(142, 168, 193, 0.51);
        -moz-box-shadow: 0px -7px 12px 0px rgba(142, 168, 193, 0.51);
        box-shadow: 0px -7px 12px 0px rgba(142, 168, 193, 0.51);
        padding-bottom: 30px;
    }
    #footer #col2 {
        position: relative;
        width: 100%;
        padding-top: 20px;
        left: 0%;
        -webkit-box-shadow: 0px -7px 12px 0px rgba(142, 168, 193, 0.51);
        -moz-box-shadow: 0px -7px 12px 0px rgba(142, 168, 193, 0.51);
        box-shadow: 0px -7px 12px 0px rgba(142, 168, 193, 0.51);
        padding-bottom: 30px;
    }
    #footer #col3 {
        position: relative;
        width: 100%;
        padding-top: 12px;
        left: 0%;
        padding-bottom: 10px;
        -webkit-box-shadow: 0px -7px 12px 0px rgba(142, 168, 193, 0.51);
        -moz-box-shadow: 0px -7px 12px 0px rgba(142, 168, 193, 0.51);
        box-shadow: 0px -7px 12px 0px rgba(142, 168, 193, 0.51);
    }
}


/*FINE FOOTER*/


/* SEZIONE LAVORI*/

#div_lavori {
    /*background-color: #e24c33cc;*/
    background-color: #33464bca;
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
}

#div_lavori h1 {
    position: relative;
    top: 170px;
    font-size: 70px;
    color: #fff;
}

#div_presentazioneLavori {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    border-bottom: 2px solid #33464bca;
}


/*Ordine colori errato (volontariamente)*/

#div_pittura {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #e24c33cc;
    margin-top: 40px;
}

#div_pulizie {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #e1d188cc;
    margin-top: 40px;
}

#div_giardinaggio {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #8ea8c1cc;
    margin-top: 40px;
}

#div_sx {
    position: absolute;
    left: 10%;
    width: 30%;
    /*background-color: #ffffffc4;*/
    background-color: #ffffffda;
    height: 90%;
    top: 5%;
    text-align: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#div_sx h2 {
    font-size: 30px;
    margin: 20px
}

#div_dx {
    position: absolute;
    /*background-color: #ffffff9f;*/
    background-color: #ffffffb7;
    right: 10%;
    width: 50%;
    height: 90%;
    top: 5%;
    line-height: 450px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#div_dx p {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

#dx_testo {
    position: absolute;
    height: 350px;
    width: 100%;
    line-height: 450px;
    /*allineamento verticale*/
}

#dx_contatti {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0px;
    line-height: 20px;
}

.dx_info {
    display: inline;
    height: 60px;
    /* equals max image height */
    width: 100%;
    white-space: nowrap;
    text-align: middle;
    margin: 1em 0;
    padding-top: 0px;
}

.helper2 {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 16px;
}

.loghi2 {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding-top: 20px;
}

#imgLavoro {
    position: relative;
    height: 350px;
}

.content {
    position: relative;
    width: 100%;
}

#content1 a {
    font-size: 16px;
    color: #cc472f;
    text-decoration: none;
}

#content2 a {
    font-size: 16px;
    color: #bdac60;
    text-decoration: none;
}

#content3 a {
    font-size: 16px;
    color: #7e96ac;
    text-decoration: none;
}


/*e24c33cc  e1d188cc  8ea8c1cc*/

#c1 {
    position: absolute;
    width: 33.3%;
    height: 100%;
    text-align: center;
}

#c2 {
    position: absolute;
    width: 33.3%;
    height: 100%;
    left: 33.3%;
}

#c3 {
    position: absolute;
    width: 33.3%;
    height: 100%;
    left: 66.6%;
}


/* FINE SEZIONE LAVORI*/